img.gallery {
    width: 20%;
    padding: 10px;
    display:inline-block;
}

h2.section {
    text-align: center;
}

div.imageGallery {
    align-content: center;
    text-align:center;
}

div.uploadSection {
    align-content: center;
}