img.gallery {
    display:inline-block;
    width: 100%;
}

h1.section {
    text-align: center;
}

div.section{
    align-content: center;
}

div.tags{
    align-content: center;
    text-align: center;
}

h2.section {
    text-align: center;
}

div.imageWrapper {
    width: 20%;
    padding: 10px;
    display:inline-block;
}

div.imageGallery {
    align-content: center;
    text-align:center;
    width: 100%;
}

div.uploadSection {
    align-content: center;
}